.wrapper{
    background-color: #3366ff;
    width: fit-content;
    height: fit-content;
    padding: 12px 25px 12px 25px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.wrapper:hover{
    background-color: #002db3;
}