.headerWrapper {
  color: white;
  font-weight: 500;
  font-size: 18px;
  width: fit-content;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
}
.headerWrapper:hover {
  background-color: rgba(0, 113, 194, 0.24);
}
