.locationWrapper {
  padding: 0 200px 0 10px;
  background-color: white;
  width: fit-content;
  height: 45px;
  display: flex;
  border-radius: 5px 5px 5px 5px;
  align-items: center;
}
.bedIcon {
  font-size: 24px;
  color: gray;
  padding-right: 5px;
}
input {
  border: none;
  outline: none;
  font-size: 18px;
}
input::placeholder {
  font-size: 14px;
  color: black;
}
input:focus::placeholder {
  color: gray;
}
