.roomsCont {
  padding: 0 30px 0 30px;
  background-color: white;
  width: fit-content;
  height: 45px;
  display: flex;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  align-items: center;
}
.inputCont {
  padding: 10px 20px 20px 20px;
  background-color: white;
  width: fit-content;
  margin-top: 5px;
  border-radius: 5px;
}
.cont {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #4d4d4d;
  justify-content: space-between;
  width: 250px;
  margin-top: 5px;
}
.changeValCont {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #4d4d4d;

  border: 2px solid #bfbfbf;
  border-radius: 4px;
}
.val {
  width: 25px;
  text-align: center;
}
.decrease,
.increase {
  padding: 0px 12px;
  color: rgb(80, 80, 250);
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.decrease:hover,
.increase:hover {
  background-color: #e6f0ff;
}
.confirmation {
  width: 250px;
  border: 2px solid #5eacfb;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  color: #0a63bc;
  font-weight: 500;
  padding: 5px 0 5px 0;
  margin-top: 15px;
  cursor: pointer;
}
.confirmation:hover {
  background-color: #e7f2fe;
}
.notAllowed {
  padding: 0px 12px;
  color: rgb(80, 80, 250);
  font-size: 24px;
  cursor: not-allowed;
}
